<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/home/login.js"></script>
  <title>Document</title>
</head>
<body>
  <div><input type="text" placeholder="아이디"></div>
  <div><input type="password" placeholder="비밀번호"></div>
  <button>로그인</button>
</body>
</html>